[data-available="true"]{
    background-color: green;
}
[data-available="false"]{
    background-color: red;
}
[data-price="high"]{
    font-weight: bold;
}
ol{
    background-color: lightblue;
    margin: 0px;
}
li{
   margin: 5px;
   color: white;
}
[data-category="Electronics"]{
 list-style-type:upper-alpha ;
}